body {
  margin: 0rem;
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #f7e7bd;
}

h1 {
  margin: 3.125rem auto 0rem auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #065446;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #197163;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #900c3f;
}

p {
  line-height: 2;
  color: #10375c;
  font-weight: bold;
}

.web {
  text-decoration: underline;
}
.footer-link{
  height:4.375rem;
  width:4.375rem;
  margin:1.875rem;
}
.topContainer {
  background-color: #FADCAC;
  position: relative;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.middle-container {
  margin: 6.25rem 0;
}

.bottom-container {
  background-color: #065446;
  padding: 3.125rem 0 1.25rem;
}

.intro {
  width: 40%;
  margin: auto;
}
.copyright{
  color: #FADCAC;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.topCloud {
  position: absolute;
  right: 18.75rem;
  top: 1.875rem;
}

.topCloud2 {
  position: absolute;
  right: 6.25rem;
  top: 9.375rem;
}

.bottomCloud2 {
  position: absolute;
  left: 6.25rem;
  top: 2.1875rem;
}

.bottomCloud {
  position: absolute;
  left: 18.75rem;
  bottom: 9.375rem;
}

.pic {
  height: 9.375rem;
  width: 9.375rem;
  border-radius: 31.25rem;
  margin-top: 0.625rem;
  margin-right: 1.25rem;
  float: left;
}

.pic3 {
  height: 9.375rem;
  width: 9.375rem;
  border-radius: 31.25rem;
  margin-top: 0.625rem;
}

.pic2 {
  height: 9.375rem;
  width: 9.375rem;
  margin-top: 0.625rem;
  margin-right: 1.25rem;
  float: left;
}

hr {
  width: 25%;
  border-style: none;
  border-top-style: dotted;
  border-color: #158467;
  border-width: 0.3125rem;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

.skill-row {
  margin: 6.25rem auto 6.25rem auto;
  width: 50%;
  text-align: left;
}

.contact {
  width: 40%;
  margin: 2.5rem auto 3.75rem;
}

.hobby-row {
  margin: 6.25rem auto 6.25rem auto;
  width: 50%;
  text-align: left;
}

.btn {
  background-color: #900c3f;
  -webkit-border-top-left-radius: 0.25rem;
  -moz-border-radius-topleft: 0.25rem;
  border-top-left-radius: 0.25rem;
  -webkit-border-top-right-radius: 0.25rem;
  -moz-border-radius-topright: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-border-bottom-right-radius: 0.25rem;
  -moz-border-radius-bottomright: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  -webkit-border-bottom-left-radius: 0.25rem;
  -moz-border-radius-bottomleft: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  text-indent: 0;
  display: inline-block;
  color: #f7e7bd;
  font-family: Montserrat;
  font-size: 1.0625rem;
  font-weight: bold;
  font-style: normal;
  height: 3.125rem;
  line-height: 3.125rem;
  width: 8.75rem;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 0.125rem 0.625rem #000000;
}

.btn:hover {
  background-color: #065446;
}

.btn:active {
  position: relative;
  top: 0.0625rem;
}
